.form-group.required .control-label:after {
	content: " *";
	color: red;
}

.tab-content.scrollable {
	height: 186px;
	overflow-y: auto;
	padding: 15px 15px 0px 0px;
}

#typeLabel {
	padding: 0px 25px 0px 0px !important;
}